<div>
    <div>
        <button type="button" class="btn btn-secondary btn-lg" routerLink="Drag">Drag And Drop</button>
    
    <router-outlet></router-outlet>
</div><br>
    <div>   
        <button type="button" class="btn btn-secondary btn-lg" routerLink="Portal">Portal</button>
        
        <router-outlet></router-outlet>  
    </div> 
</div>
<div> <br>  
    <button type="button" class="btn btn-secondary btn-lg" routerLink="Scrolling">Scrolling</button>
    
    <router-outlet></router-outlet>  
</div> 
<div> <br>  
    <button type="button" class="btn btn-secondary btn-lg" routerLink="cdk-table">cdk-table</button>
    
    <router-outlet></router-outlet>  
</div> 
<div> <br>  
    <button type="button" class="btn btn-secondary btn-lg" routerLink="Overlay">Overlay</button>
    
    <router-outlet></router-outlet>  
</div> 