<div class="row">
<div class="col-md-3 pr-4">
    <label >Select Name</label>
    <select   class="form-control"  #name>
      <option value="{{item}}" *ngFor="let item of Name" >{{item}}

      </option>
    </select></div>
  <br> <br>
  <div class="col-md-9 ml-auto">
       <strong>Zip </strong>
       <hr>
       <div class= "wrapper" id="elcontanier"></div>
   </div>
  <div class="row">
        <div class="col-md-3 pr-4">
            <label >Select Color</label>
            <select  class="form-control" #color >
              <option value="{{item}}" *ngFor="let item of Color" >{{item}}</option>
            </select></div>
            <br> <br>
            <div class="col-md-9 ml-auto">
                <strong>ForkJoin</strong>
                <hr>
                <div class= "wrapper" id="elcontanier2">
                
                </div>
            </div>
         
