
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">1Rivet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" routerLink='' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='employee' routerLinkActive='active'>Student</a>  
          </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink='reactive' routerLinkActive='active'>ReactiveForm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='Tamplate-driven' routerLinkActive='active'>Tamplate-driven</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='subject' routerLinkActive='active'>Subject</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='inputoutput' routerLinkActive='active'>InputOutput</a>
            </li>
        <li class="nav-item">
              <a class="nav-link" routerLink='Directives' routerLinkActive='active'>Directives/Pipes</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" routerLink='increment' routerLinkActive='active'>increment/Decrement</a>
         </li>
         <li class="nav-item">
          <a class="nav-link" routerLink='RxjsOpraters' routerLinkActive='active'>RxjsOpraters</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" routerLink='EmpDetails' routerLinkActive='active'>EmpDetails
          
        </a>
     </li>
     
   
      </ul>
    </div>
  </div>
</nav>

    <router-outlet></router-outlet> 
    <!-- <router-outlet></router-outlet>
    <router-outlet></router-outlet>
<router-outlet></router-outlet>
 -->



 



  