





<div class="col-md-12 form-group">
    <label for="studentname">STUDENTNAME</label>
     <input placeholder="studentname" class="form-control">
    </div>
     <div class="col-md-12 form-group">
        <label for="studentname">STUDENTADD</label>
        <input placeholder="studentadd" class="form-control">
     </div>
     <div class="col-md-6 form-group">
        <label for="studentname">CITY</label>
        <input placeholder="city" class="form-control">
     </div>
     <div class="col-md-6 form-group"> 
         <label for="studentname">STATE</label>
        <input placeholder="state" class="form-control">
     </div>
     <div class="row">
         <div class="col-md-8">
        <button type="button" class="btn btn-success"><S>SUBMIT</S></button>
        <div>

      </div>
        
  
   